@model Kanbanana.Controllers.DisplayUserCompaniesModel
@using System.Collections.Generic



@*<label asp-for="Users"/>
    <select asp-for="Users.Id" asp-items="@(new SelectList())"*@

@*@Html.DropDownListFor(null, ViewBag.UserList, "--Select--", new { @class = "form-control" })*@

    <form action="/Company/AddUserToBoard" method="post">
        <fieldset>
            <legend>Selecting elements</legend>
            <p>
                <label>Select list</label>
                <select name="userId">
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.Id">@Html.DisplayFor(modelitem => user.UserName)</option>
                    }
                </select>
            </p>
        </fieldset>
        <fieldset>
            <legend>Selecting elements</legend>
            <p>
                <label>Select list</label>
                <select name="boardId">
                    @foreach (var board in Model.Boards)
                    {
                        <option value="@board.Id">@Html.DisplayFor(modelitem => board.Title)</option>
                    }
                </select>
            </p>
        </fieldset>
        <button type="submit">Add User</button>
    </form>